<script>
	// Local variables
	let page = "home";
	let pressed = false;
	// Imports
	import Home from "./home.svelte";
	import W3Menu from "./w3menu.svelte";
	import Game from "./game.svelte";
	import Config from "./config.svelte";
	import Info from "./info.svelte";	
	import {longpress} from "./longpress.js";
	// External Variables
  export let params={
		waiting_time : 3,
		durationHomeButton : 2,
		noMoreBotton : true,
		noMoreSoundURL : "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/no.mp3", 
		mode : 'dice',
	  randomMode: false,
		randomModes: false,		modes : ["dice","heap"],
		randomColors:false, colors : ["black","red","blue"],
		randomOpacity:false, opacities : [.2,.3,.5,.7,.9],
		nbChoices : 2,
		bg : "black",
		fg : "black",
		bg_opacity:".2",
		values : [1,2,3,4,5,6],
		playSound : true,
		visualFeedback: false,
		visualFeedbackCorrect: '<h1 style="font-size:10vw; color:green; background-color: grey;">CORRECT!</h1>',
		visualFeedbackInCorrect: '<h1 style="font-size:10vw; color:red; background-color: grey;">INCORRECT!</h1>',
		correctSoundURL : "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/yes.mp3",
		incorrectSoundURL : "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/no.mp3",
		gameFeatures : true,
    gameLength : 7,
		gameThresholds : {pass:4, excel:6},
		gameSoundsURLs: {fail: "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/no.mp3", 
										 pass: "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/yes.mp3", 
										 excel: "https://buho.dcc.uchile.cl/~incacomboard/sounds/Answers/yes.mp3"},
		visualFeedbackFail: '<h1 style="font-size:10vw; color:red; background-color: grey;">FAIL!</h1>',
		visualFeedbackPass: '<h1 style="font-size:10vw; color:blue; background-color: grey;">PASS!</h1>',
		visualFeedbackExcellent: '<h1 style="font-size:10vw; color:green; background-color: grey;">EXCELLENT!</h1>',
		logInteractions : true,
		server : "https://buho.dcc.uchile.cl/~inca-bct/log.php",
		activeServer: false,
		learner: "Elie",
		teacher: "Jennifer",
	    gameName: "InCA-BCT",
	    gameVersion: "v0.1"
	}
</script>

<svelte:head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</svelte:head>

<style>
	:global(body){
	 margin:0px;
	 padding:0px;
	}
</style>

{#if page == "game"}
<button use:longpress={params.durationHomeButton*1000}
	on:longpress="{() => {pressed = true; page="home";}}"
	on:mouseenter="{() => pressed = false}"
>Home</button>
{#if params.durationHomeButton>0}
(Press {params.durationHomeButton}s)
{/if}
{:else}
<W3Menu bind:page={page} />
{/if}

{#if page == "config"} <Config bind:params></Config>
{:else if page == "game"} <Game bind:params></Game>
{:else if page == "info"} <Info></Info>
{:else} <Home></Home>
{/if}

