<script>
  import Quantity from "./quantity.svelte";
  import {enterInLocalLog, enterInCsvLocalLog} from "./logger.svelte";
// Parameters of the app:
export let params ={};
// Variables of the app
let potentialChoices = [1,2,3,4,5,6];
let correctSound = new Audio(params.correctSoundURL);
let incorrectSound = new Audio(params.incorrectSoundURL);
let noMoreSound = new Audio(params.noMoreSoundURL);
let excellentSound = new Audio(params.gameSoundsURLs.excellent);
let passSound = new Audio(params.gameSoundsURLs.pass);
let failSound = new Audio(params.gameSoundsURLs.fail);
let choices = [];
let selection;
let selected = false;
let correct = false;
let exerciseResult = "";
let gameResult = "";
let waitingForReward=false;
let nbCorrect = 0;
let nbIncorrect = 0;	
// Initializing
reset();
newOne();
// Functions
function select(c){
	if(selected == false) {
		selected = true;
		selection = c;
		correct = true;
		var i;
		for(i=0;i<choices.length;i++){
	    if(choices[i]>selection) {
	       correct = false
			}
		}

		let ctx = "chosen: "+c+"\t";
		ctx = ctx + "choices: "+choices+"\t";
		ctx = ctx + "mode: "+params.mode+"\t";
		ctx = ctx + "fg: "+params.fg+"\t";
		ctx = ctx + "bg: "+params.bg+"\t";
		ctx = ctx + "bg_opacity: "+params.bg_opacity+"\t";

		if(correct == true) {
				nbCorrect++;
		    if(params.visualFeedback){exerciseResult=params.visualFeedbackCorrect}
				if(params.playSound){correctSound.play();};
				enterInLocalLog(params.learner+" chose correctly "+c+" out of "+choices+" in mode '"+params.mode+"' with "+params.fg+" stuff on "+params.bg+" background.");
				enterInCsvLocalLog(params, "correct choice", ctx, "")
		} else {
				nbIncorrect++;
	      if(params.visualFeedback){exerciseResult=params.visualFeedbackInCorrect}
				if(params.playSound){incorrectSound.play();}
				enterInLocalLog(params.learner+" chose INcorrectly "+c+" out of "+choices+" in mode '"+params.mode+"' with "+params.fg+" stuff on "+params.bg+" background.");
				enterInCsvLocalLog(params, "incorrect choice", ctx, "")
		}
		if(params.gameFeatures){
  		if(nbCorrect+nbIncorrect >= params.gameLength) {
				ctx = "corrects: "+nbCorrect+"\t";
				ctx = ctx + "incorrects: "+nbIncorrect+"\t";
				ctx = ctx + "mode: "+params.mode+"\t";
				ctx = ctx + "fg: "+params.fg+"\t";
				ctx = ctx + "bg: "+params.bg+"\t";
				ctx = ctx + "bg_opacity: "+params.bg_opacity+"\t";
				enterInLocalLog(params.learner+" finished a game: "+nbCorrect+" correct answers and "+nbIncorrect+" incorrect answers.");
				enterInCsvLocalLog(params, "finished game", ctx, "")
	  	  if(nbCorrect >= params.gameThresholds.excel) {
		  		if(params.playSound){excellentSound.play();};
	        if(params.visualFeedback){gameResult=params.visualFeedbackExcellent}
					console.log("Excellent")
			  } else if (nbCorrect>=params.gameThresholds.pass) {
				  if(params.playSound){excellentSound.play();};
	        if(params.visualFeedback){gameResult=params.visualFeedbackPass}
					console.log("Pass")
			  } else {
				  if(params.playSound){failSound.play();};
	        if(params.visualFeedback){gameResult=params.visualFeedbackFail}
					console.log("Fail")
			  }	
				waitingForReward = true;
  		}
		}
		if(!waitingForReward){
  		setTimeout(() => {newOne();}, params.waiting_time*1000);
		}
	}
	}
	function reset(){
	 nbCorrect = 0;
	 nbIncorrect = 0;
	 gameResult = "";
	}	
	function newOne() {
		// Generates a random pair of distinct integers from [1..{maxNumber}]
		var i,r
		for(i=0; i<params.nbChoices; i++){
			r = Math.floor(Math.random()*(params.values.length-i));
			[params.values[i],params.values[i+r]]=[params.values[i+r],params.values[i]] // swap the two values
		}
		choices = []
		for(i=0; i<params.nbChoices; i++){
			choices = [...choices,params.values[i]]
		}
		selected = false;
		correct = false;
		exerciseResult = "";
	}
</script>

<h1 align="center">What's more?</h1>

{#if !selected}
<div style="--nbChoices: {params.nbChoices}">
			{#each choices as c}
		<span 
				on:click={()=>select(c)}>
				<Quantity n={c} 
						mode={params.mode}
						fg={params.fg}
						bg={params.bg}												  
						bg_opacity={params.bg_opacity}
						></Quantity>
		</span>
		{/each}
</div>
{:else}
{#if params.visualFeedback}
<center>{@html exerciseResult}</center>
<center>{@html gameResult}</center>
{/if}
{/if}
{#if params.noMoreBotton}
<button on:click="{() => {noMoreSound.play();}}">No more</button>
{/if}
{#if waitingForReward}
<center>
<button on:click="{() => {waitingForReward=false;reset();newOne()}}">Play again?</button>
</center>
{/if}

<center>(+{nbCorrect},-{nbIncorrect}) {#if params.gameFeatures} among {params.gameLength}{/if}</center>

<style>
	span{
	margin-left: calc( (90vw - var(--nbChoices) * 160px ) / ( var(--nbChoices) + 1 ) );
	}

	/*
	table{width:100%}
	td {
  text-align: center;
		border:1px solid black;
	}
	*/
	/* peut etre a creuser :
	https://developer.mozilla.org/fr/docs/Web/CSS/justify-content
	mais si on souhaiter calculer les espaces il faudrait impérativement connaitre la "largeur" de quantity 
	*/
	
	/*
	td {
    padding-left: 100px;
    padding-right: 0px;
  }
  td:first-child {
    padding-left: 0;
  }
  td:last-child {
    padding-right: 0;
  }*/
</style>