<script>
import Quantity from "./quantity.svelte";
export let maxValue = 6;
let rectValue = 1+Math.floor(Math.random()*(maxValue-1));
let diceValue = 1+Math.floor(Math.random()*(maxValue-1));
let heapValue = 1+Math.floor(Math.random()*(maxValue-1));
let discValue = 1+Math.floor(Math.random()*(maxValue-1));
</script>

<h1 align=center>
	InCA-Blind Comparative Testing
</h1>

A simple web solution to compare the ability of  animals in comparing discrete  and continuous  quantities with distinct color settings.

<table align="center"><tr>
<td><Quantity n={rectValue} mode="rect" bg="yellow" fg="yellow" bg_opacity=".1"></Quantity></td>
<td><Quantity n={diceValue} mode="dice" bg="grey" fg="black"></Quantity></td>
<td><Quantity n={heapValue} mode="heap" bg="green" fg="black"></Quantity></td>
<td><Quantity n={discValue} mode="disc" bg="blue" fg="blue" bg_opacity=".7"></Quantity></td>
</tr>	
</table>

<div ALIGN=RIGHT>
	A collaboration between <a href="https://parrotkindergarten.com/">Parrot Kindergarten, Inc.</a><br> and 
 <a href="https://inca.dcc.uchile.cl">InCA Labs</a>.
</div>
	