<!-- Draws a dice face with values from 1 to 9 -->
<script>
export let n = 5;
export let mode = "continuousRect" // simpleDice, fancyDice
export let base_color_face="white";
export let base_color_dot="black";
export let radius = 20;
export let width = 160;
export let height = 160;
</script>

{#if mode == "fancyDice"}  <!--Fancy Dice            -->
<svg width={width} height={height}>
	<defs>
		 <linearGradient id = "g1" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%">
            <stop stop-color = "white" offset = "0%"/>
            <stop stop-color = {base_color_face} offset = "100%"/>
        </linearGradient>
	 <radialGradient id = "g2" cx = "50%" cy = "50%" r = "50%" fx = "40%" fy = "60%">
            <stop stop-color = "white" offset = "10%"/>
            <stop stop-color = {base_color_dot} offset = "40%"/>
            <stop stop-color = {base_color_dot} offset = "90%"/>
            <stop stop-color = "transparent" offset = "100%"/>
        </radialGradient>
	</defs>
  <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
  />
    <g transform="translate(5,5)">
{#if n==1}
    <circle cx="75" cy="75" r={radius} />
    {:else if n==2}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius} />
{:else if n==3}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="118" r={radius} />
{:else if n==4}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==5}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==6}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==7}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==8}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="32" r={radius} />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==9}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="32" r={radius} />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="75" cy="118" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else}
Unsupported Number
{/if}
	</g>	 
</svg>
<style>
	rect{
 stroke:black;
stroke-width:5;
	fill:url(#g1);
	}
	circle{
stroke:black;
stroke-width:0;
	fill:url(#g2);
		opacity:.8;
	}
</style>
{:else if mode == "continuousRect"} <!--CONTINUOUS RECTANGLES-->
<svg width={width} height={height}>
	<defs>
				 <linearGradient id = "g1" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%">
            <stop stop-color = "white" offset = "0%"/>
            <stop stop-color = {base_color_face} offset = "100%"/>
        </linearGradient>
	 <radialGradient id = "g2" cx = "50%" cy = "50%" r = "50%" fx = "40%" fy = "60%">
            <stop stop-color = {base_color_dot} offset = "0%"/>
            <stop stop-color = {base_color_dot} offset = "00%"/>
            <stop stop-color = {base_color_dot} offset = "100%"/>
            <stop stop-color = "transparent" offset = "100%"/>
        </radialGradient>
	</defs>
  <rect x="5" y="5" rx="20" ry="20" width="150" height="150"></rect>
	<rect x="5" y={155-160*n/12} rx="20" ry="20" width="150" height={160*n/12} opacity:1></rect>
</svg>
<style>
	rect{
 stroke:black;
stroke-width:5;
	fill:url(#g1);
	}
	circle{
stroke:black;
stroke-width:0;
	fill:url(#g2);
		opacity:.8;
	}
</style>
{:else if mode == "simpleDice"} <!--Simple Dice            -->
<svg width={width} height={height}>
	<defs>
		<linearGradient id = "g1" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%">
            <stop stop-color = {base_color_face} offset = "0%"/>
            <stop stop-color = {base_color_face} offset = "100%"/>
		</linearGradient>
	  <radialGradient id = "g2" cx = "50%" cy = "50%" r = "50%" fx = "40%" fy = "60%">
            <stop stop-color = "white" offset = "0%"/>
            <stop stop-color = {base_color_dot} offset = "00%"/>
            <stop stop-color = {base_color_dot} offset = "100%"/>
            <stop stop-color = "transparent" offset = "100%"/>
        </radialGradient>
	</defs>
  <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
  />
	<g transform="translate(5,5)">
{#if n==1}
    <circle cx="75" cy="75" r={radius} />
    {:else if n==2}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius} />
{:else if n==3}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="118" r={radius} />
{:else if n==4}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==5}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==6}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==7}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==8}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="32" r={radius} />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else if n==9}
    <circle cx="32" cy="32" r={radius}  />
    <circle cx="32" cy="75" r={radius}  />
    <circle cx="32" cy="118" r={radius}  />
    <circle cx="75" cy="32" r={radius} />
    <circle cx="75" cy="75" r={radius} />
    <circle cx="75" cy="118" r={radius} />
    <circle cx="118" cy="32" r={radius}  />
    <circle cx="118" cy="75" r={radius}  />
    <circle cx="118" cy="118" r={radius}  />
{:else}
Unsupported Number
{/if}
	</g>	 
</svg>
<style>
	rect{
 stroke:black;
stroke-width:5;
	fill:url(#g1);
	}
	circle{
stroke:black;
stroke-width:0;
	fill:url(#g2);
		opacity:.8;
	}
</style>
{/if}
